.sidebar{
  position: absolute;
  height: 100%;
  width: 15%;
  left 0px;
  float: left;
}

.sidebar > a {
  display: block;
}

.sidebar > h3{
  text-align: center;
}

a.btn:nth-child(5) {
  margin-left: 10%
}

.sidebar > h3:nth-child(1)
